<div class="jumbotron text-center">
    <h1>List All Diets</h1>

    <p>{{ message }}</p>

    <div ng-controller="dietController as list" id="diets">
        <table align="center" valign="middle" class="table table-hover">
            <thead>
            <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign ="middle"; >
            <tr>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Protein</th>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Fats</th>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Carbs</th>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Meal Number</th>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Meal Type</th>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Meal Calories</th>
                <th><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Meal Time</th>
            </tr>
            </thead>
            <tbody ng-repeat="diet in diet | orderBy:'numMeals'">



            <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.Protein}} grams</span>
            </td>

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.Fats}} grams</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.Carbs}} grams</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.numMeals}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.MealType}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.MealCalories}}</span>
            </td>

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{diet.MealTime}}</span>
            </td>

            <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>














                <button type="button" class="btn btn-default" ng-click="delete(diet._id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button type="button" class="btn btn-default" ng-click="update(diet)">


                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                </span>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>