<div class="jumbotron text-center">
    <h2>{{ message }}</h2>
    <!--<img src="http://cdn.stagemilk.com/wp-content/uploads/2017/01/fitness-for-actors.jpg" alt="null" height="500" width="1100">-->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://cdn.stagemilk.com/wp-content/uploads/2017/01/fitness-for-actors.jpg">
            </div>

            <div class="item">
                <img src="http://cdn30.us1.fansshare.com/image/fitnesswallpaper/fitness-wallpapers-full-hd-wallpaper-search-fitness-backgrounds-health-wallpaper-686049605.jpg" >
            </div>

            <div class="item">
                <img src="http://cdn.stagemilk.com/wp-content/uploads/2017/01/fitness-for-actors.jpg">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



</div>