<div class="jumbotron text-center">
    <h2>{{ message }}</h2>


    <div class="container" id="home">
        <h2>Pick your choice</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#addProgram">
                        <img src="http://www.youthincmag.com/wp-content/uploads/2017/05/fitness.jpg"  style="width:100%">
                        <div class="caption">
                            <p>Create Programs here</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#addDiet">
                        <img src="http://www.healthydietbase.com/wp-content/uploads/2015/03/bigstock-Fitness-man-holding-a-bowl-of-71958718-840x560.jpg" style="width:100%">
                        <div class="caption">
                            <p>Make your own Diets</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#findGym">
                        <img src="https://www.4seasonshotelcarlingford.ie/cmsGallery/imagerow/6677/resized/1440x900/gym_carlingford_1.jpg" style="width:100%">
                        <div class="caption">
                            <p>Find the gym for you</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



</div>