<div class="jumbotron text-center">
    <h1>List All programs</h1>

    <p>{{ message }}</p>

    <div ng-controller="programsController as list">
        <table align="center" valign="middle">
            <tbody ng-repeat="program in programs | orderBy:'-weight'">
            <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign ="middle"; >
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Rest</th>
                <th>Weight</th>
            </tr>

            <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{program.ExerciseName}}</span>
            </td>

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{program.MuscleType}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{program.Sets}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{program.Reps}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{program.RestTime}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{program.Weight}}</span>
            </td>

            <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>


                <button type="button" class="btn btn-default" ng-click="delete(program.id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button type="button" class="btn btn-default" ng-click="update(program)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                </span>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>