<div class="jumbotron text-center">
    <h1>Time to create a program</h1>

    <p>{{ message }}</p>

    <div ng-controller="programsController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="update()"
                      style="margin-top:30px;">
                    <h3>Update Selected program</h3>

                    <div class="form-group" align="center">
                        <input type="text"
                               class="form-control"
                               placeholder="Muscle Type"
                               ng-model="formData.MuscleType"
                               ng-style="{'width': 500 + 'px'}">
                    </div>


                    <div class="form-group" align="center">
                        <input type="text"
                               class="form-control"
                               placeholder="Exercise Name"
                               ng-model="formData.ExerciseName"
                               ng-style="{'width': 500 + 'px'}">
                    </div>
                    <div class="form-group" align="center">
                        <input type="number"
                               class="form-control"
                               placeholder="Sets"
                               ng-model="formData.Sets"
                               ng-style="{'width': 500 + 'px'}">
                    </div>
                    <div class="form-group" align="center">
                        <input type="number"
                               class="form-control"
                               placeholder="Reps"
                               ng-model="formData.Reps"
                               ng-style="{'width': 500 + 'px'}">
                    </div>
                    <div class="form-group" align="center">
                        <input type="number"
                               class="form-control"
                               placeholder="Rest Time"
                               ng-model="formData.RestTime"
                               ng-style="{'width': 500 + 'px'}">
                    </div>
                    <div class="form-group" align="center">
                        <input type="number"
                               class="form-control"
                               placeholder="Weight"
                               ng-model="formData.Weight"
                               ng-style="{'width': 500 + 'px'}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

            </div>
        </div>
    </div>