<div class="jumbotron text-center">
    <h1>Time to update a program</h1>


    <div ng-controller="updateController">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="update()"
                      style="margin-top:30px;">
                    <h3>Update Selected program</h3>

                    <div class="form-group" align="center">
                        <label for="input">Muscle Type</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Muscle Type"
                               ng-model="formData.MuscleType"
                               ng-style="{'width': 500 + 'px'}"
                               required="true">
                    </div>
                <!--<style>-->
                    <!--label {-->
                        <!--display: inline-block;-->
                        <!--width: 140px;-->
                        <!--text-align: right;-->
                    <!--}-->
                    <!--​input {-->
                        <!--display: inline-block;-->
                        <!--float: left;-->
                    <!--}-->
                <!--</style>-->

                    <div class="form-group" align="center">
                        <label for="input">Exercise Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Exercise Name"
                               ng-model="formData.ExerciseName"
                               ng-style="{'width': 500 + 'px'}"
                               required="true">
                    </div>
                    <div class="form-group" align="center">
                        <label for="input">Sets</label>
                        <input type="number"
                               class="form-control"
                               placeholder="Sets"
                               ng-model="formData.Sets"
                               ng-style="{'width': 500 + 'px'}"
                               required="true">
                    </div>
                    <div class="form-group" align="center">
                        <label for="input">Reps</label>
                        <input type="number"
                               class="form-control"
                               placeholder="Reps"
                               ng-model="formData.Reps"
                               ng-style="{'width': 500 + 'px'}"
                               required="true">
                    </div>
                    <div class="form-group" align="center">
                        <label for="input">Rest Time</label>
                        <input type="number"
                               class="form-control"
                               placeholder="Rest Time"
                               ng-model="formData.RestTime"
                               ng-style="{'width': 500 + 'px'}"
                               required="true">
                    </div>
                    <div class="form-group" align="center">
                        <label for="input">Weight</label>
                        <input type="number"
                               class="form-control"
                               placeholder="Weight"
                               ng-model="formData.Weight"
                               ng-style="{'width': 500 + 'px'}"
                               required="true">
                    </div>

                    <button type="button" class="btn btn-default" ng-click="update()">
                         Update
                    </button>
                </form>

            </div>
        </div>
    </div>